apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
spec:
  template:
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
      containers:
      - name: operator
        image: ghcr.io/kedacore/http-add-on-operator
        args:
        - --leader-elect
        env:
        - name: KEDAHTTP_OPERATOR_EXTERNAL_SCALER_SERVICE
          value: "keda-http-add-on-external-scaler"
        - name: KEDAHTTP_OPERATOR_EXTERNAL_SCALER_PORT
          value: "9090"
        - name: KEDA_HTTP_OPERATOR_NAMESPACE
          value: "keda"
        - name: KEDA_HTTP_OPERATOR_WATCH_NAMESPACE
          value: ""
        ports:
        - name: metrics
          containerPort: 8080
        - name: probes
          containerPort: 8081
        livenessProbe:
          httpGet:
            path: /healthz
            port: probes
        readinessProbe:
          httpGet:
            path: /readyz
            port: probes
        # TODO(pedrotorres): set better default values avoiding overcommitment
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: operator
      terminationGracePeriodSeconds: 10
