name: Publish canary image to GitHub Container Registry

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_operator:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up tags and refs
        id: prep
        run: |
          SHA="sha-${GITHUB_SHA::8}"
          echo ::set-output name=sha::${SHA}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Build and push operator image
        uses: docker/build-push-action@v2
        with:
          # Docker repository to tag the image with
          repository: ${{ github.repository_owner }}/http-add-on-operator
          tags: canary,${{ steps.prep.outputs.sha}}
          labels: |
            sh.keda.http.image.source=${{github.event.repository.html_url}}
            sh.keda.http.image.created=${{steps.prep.outputs.created}}
            sh.keda.http.image.revision=${{github.sha}}
          file: operator/Dockerfile
          context: .

  build_interceptor:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up tags and refs
        id: prep
        run: |
          SHA="sha-${GITHUB_SHA::8}"
          echo ::set-output name=sha::${SHA}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Build and push interceptor image
        uses: docker/build-push-action@v2
        with:
          # Docker repository to tag the image with
          repository: ${{ github.repository_owner }}/http-add-on-interceptor
          tags: canary,${{ steps.prep.outputs.sha}}
          labels: |
            sh.keda.http.image.source=${{github.event.repository.html_url}}
            sh.keda.http.image.created=${{steps.prep.outputs.created}}
            sh.keda.http.image.revision=${{github.sha}}
          file: interceptor/Dockerfile
          context: interceptor

  build_scaler:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up tags and refs
        id: prep
        run: |
          SHA="sha-${GITHUB_SHA::8}"
          echo ::set-output name=sha::${SHA}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Build and push scaler image
        uses: docker/build-push-action@v2
        with:
          # Docker repository to tag the image with
          repository: ${{ github.repository_owner }}/http-add-on-scaler
          tags: canary,${{ steps.prep.outputs.sha}}
          labels: |
            sh.keda.http.image.source=${{github.event.repository.html_url}}
            sh.keda.http.image.created=${{steps.prep.outputs.created}}
            sh.keda.http.image.revision=${{github.sha}}
          file: scaler/Dockerfile
          context: scaler
