name: Publish official image to GitHub Container Registry

on:
  push:
    tags: [ "v[0-9].[0-9].[0-9]" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    container: ghcr.io/kedacore/keda-tools:1.20.5
    steps:
      - uses: actions/checkout@v4

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Get the version
        id: get_version
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Release Deployment YAML file
        run: make release
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GITHUB_TOKEN }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Publish on GitHub Container Registry
        run: make publish-multiarch
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}

      # Get release information to determine id of the current release
      - name: Get Release
        id: get-release-info
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Upload deployment YAML file to GitHub release
      - name: Upload Deployment YAML file
        id: upload-deployment-yaml
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/kedacore/keda/releases/${{ steps.get-release-info.outputs.id }}/assets?name=keda-http-add-on-${{ steps.get_version.outputs.VERSION }}.yaml
          asset_path: keda-http-add-on-${{ steps.get_version.outputs.VERSION }}.yaml
          asset_name: keda-http-add-on-${{ steps.get_version.outputs.VERSION }}.yaml
          asset_content_type: application/x-yaml

      # Upload CRD deployment YAML file to GitHub release
      - name: Upload Deployment YAML file
        id: upload-crd-deployment-yaml
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/kedacore/keda/releases/${{ steps.get-release-info.outputs.id }}/assets?name=keda-http-add-on-${{ steps.get_version.outputs.VERSION }}-crds.yaml
          asset_path: keda-http-add-on-${{ steps.get_version.outputs.VERSION }}-crds.yaml
          asset_name: keda-http-add-on-${{ steps.get_version.outputs.VERSION }}-crds.yaml
          asset_content_type: application/x-yaml
