name: e2e tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  e2e_tests:
    runs-on: ${{ matrix.runner }}
    name: e2e ${{ matrix.arch }} / ${{ matrix.kindVersion }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - AMD64
          - ARM64
        kindVersion:
          - v1.35.0
          - v1.34.3
          - v1.33.7
        include:
          - arch: AMD64
            runner: ubuntu-latest
          - arch: ARM64
            runner: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Setup test environment
        uses: ./.github/actions/setup-test-environment
        with:
          kindVersion: ${{ matrix.kindVersion }}
          version: ${{ github.sha }}

      - name: Run e2e test
        run: make e2e-test
        env:
          VERSION: ${{ github.sha }}
