name: e2e tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  e2e_tests:
    runs-on: ubuntu-latest
    name: Execute e2e test on AMD64 ${{ matrix.kubernetesVersion }}
    strategy:
      fail-fast: false
      matrix:
        kubernetesVersion: [v1.29, v1.28, v1.27]
        include:
        - kubernetesVersion: v1.29
          kindImage: kindest/node:v1.29.0@sha256:eaa1450915475849a73a9227b8f201df25e55e268e5d619312131292e324d570
        - kubernetesVersion: v1.28
          kindImage: kindest/node:v1.28.0@sha256:b7a4cad12c197af3ba43202d3efe03246b3f0793f162afb40a33c923952d5b31
        - kubernetesVersion: v1.27
          kindImage: kindest/node:v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72
    steps:
      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install curl make ca-certificates gcc libc-dev -y
        env:
          DEBIAN_FRONTEND: noninteractive

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Helm install
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - name: Create k8s ${{ matrix.kubernetesVersion }} Kind Cluster
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          node_image: ${{ matrix.kindImage }}
          cluster_name: cluster
          config: .github/kind.yaml

      - name: Generate images and push to the cluster
        run: |
          make docker-build
          kind load docker-image ghcr.io/kedacore/http-add-on-operator:${VERSION} --name cluster
          kind load docker-image ghcr.io/kedacore/http-add-on-interceptor:${VERSION} --name cluster
          kind load docker-image ghcr.io/kedacore/http-add-on-scaler:${VERSION} --name cluster
        env:
          VERSION: ${{ github.sha }}

      - name: Show Kubernetes version
        run: |
          kubectl version
      - name: Run e2e test
        run: |
          make e2e-test
        env:
          VERSION: ${{ github.sha }}

  arm_image_generation:
    runs-on: ARM64
    name: Generate ARM64 images for e2e tests
    steps:
      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install curl make ca-certificates gcc libc-dev -y
        env:
          DEBIAN_FRONTEND: noninteractive

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Generate images
        run: |
          make docker-build
        env:
          VERSION: ${{ github.sha }}

  arm_e2e_tests:
    runs-on: http-add-on-e2e
    needs: arm_image_generation
    name: Execute e2e test on ARM64 ${{ matrix.kubernetesVersion }}
    env:
      KUBECONFIG: ${{ github.workspace }}/.kube/config
    strategy:
      fail-fast: false
      matrix:
        kubernetesVersion: [v1.29, v1.28, v1.27]
        include:
        - kubernetesVersion: v1.29
          kindImage: kindest/node:v1.29.0@sha256:eaa1450915475849a73a9227b8f201df25e55e268e5d619312131292e324d570
        - kubernetesVersion: v1.28
          kindImage: kindest/node:v1.28.0@sha256:b7a4cad12c197af3ba43202d3efe03246b3f0793f162afb40a33c923952d5b31
        - kubernetesVersion: v1.27
          kindImage: kindest/node:v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v4.1
        with:
          go-version: "1.21"

      - name: Helm install
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - name: Create k8s ${{ matrix.kubernetesVersion }} Kind Cluster
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          node_image: ${{ matrix.kindImage }}
          cluster_name: ${{ runner.name }}
          config: .github/kind.yaml

      - name: Push images to the cluster
        run: |
          kind load docker-image ghcr.io/kedacore/http-add-on-operator:${VERSION} --name ${{ runner.name }}
          kind load docker-image ghcr.io/kedacore/http-add-on-interceptor:${VERSION} --name ${{ runner.name }}
          kind load docker-image ghcr.io/kedacore/http-add-on-scaler:${VERSION} --name ${{ runner.name }}
        env:
          VERSION: ${{ github.sha }}

      - name: Show Kubernetes version
        run: |
          kubectl version

      - name: Run e2e test
        run: |
          make e2e-test
        env:
          VERSION: ${{ github.sha }}
