name: e2e tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  e2e_tests:
    runs-on: ${{ matrix.runner }}
    name: e2e ${{ matrix.arch }} / ${{ matrix.kindVersion }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - AMD64
          - ARM64
        kindVersion:
          - v1.35.0
          - v1.34.3
          - v1.33.7
        include:
          - arch: AMD64
            runner: ubuntu-latest
          - arch: ARM64
            runner: ubuntu-24.04-arm
    steps:
      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install curl make ca-certificates gcc libc-dev -y
        env:
          DEBIAN_FRONTEND: noninteractive

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24.7"

      - name: Helm install
        uses: Azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Create Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:${{ matrix.kindVersion }}
          cluster_name: cluster
          version: v0.31.0

      - name: Generate images and push to the cluster
        run: |
          make docker-build
          kind load docker-image ghcr.io/kedacore/http-add-on-operator:${VERSION} --name cluster
          kind load docker-image ghcr.io/kedacore/http-add-on-interceptor:${VERSION} --name cluster
          kind load docker-image ghcr.io/kedacore/http-add-on-scaler:${VERSION} --name cluster
        env:
          VERSION: ${{ github.sha }}

      - name: Show Kubernetes version
        run: kubectl version

      - name: Run e2e test
        run: make e2e-test
        env:
          VERSION: ${{ github.sha }}
