name: e2e tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  e2e_tests:
    runs-on: ${{ matrix.runner }}
    name: e2e ${{ matrix.arch }} / ${{ matrix.kindVersion }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - AMD64
          - ARM64
        kindVersion:
          - v1.35.0
          - v1.34.3
          - v1.33.7
        include:
          - arch: AMD64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: ARM64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    steps:
      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install curl make ca-certificates gcc libc-dev -y
        env:
          DEBIAN_FRONTEND: noninteractive

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

      - name: Helm install
        uses: Azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Create Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:${{ matrix.kindVersion }}
          cluster_name: kind
          version: v0.31.0

      - name: Show Kubernetes version
        run: kubectl version

      - name: Run e2e test
        run: make e2e-test
        env:
          KO_DOCKER_REPO: kind.local
          KO_DEFAULTPLATFORMS: ${{ matrix.platform }} # only need target arch
          VERSION: ${{ github.sha }}
