name: Build Images
on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_scaler:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.21.5
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Scaler
        run: |
          COMMIT=$(git rev-parse --short HEAD)
          VERSION=${COMMIT} make docker-build-scaler

  build_operator:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.21.5
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Operator
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          VERSION=${COMMIT} make docker-build-operator

  build_interceptor:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.21.5
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Interceptor
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          VERSION=${COMMIT} make docker-build-interceptor
