name: Build Images
on:
  pull_request:
    branches: [main]

jobs:
  build_scaler:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.20.8
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Scaler
        run: |
          COMMIT=$(git rev-parse --short HEAD)
          VERSION=${COMMIT} make docker-build-scaler

  build_operator:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.20.8
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Operator
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          VERSION=${COMMIT} make docker-build-operator

  build_interceptor:
    runs-on: ubuntu-latest
    container: ghcr.io/kedacore/keda-tools:1.20.8
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Build The Interceptor
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          VERSION=${COMMIT} make docker-build-interceptor
