name: Build Images
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_scaler:
    
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Build The Scaler
        run: |
          COMMIT=$(git rev-parse --short HEAD)
          docker build --build-arg VERSION=${COMMIT} -t scaler -f scaler/Dockerfile .
  
  build_operator:
    
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Build The Operator
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          docker build --build-arg VERSION=${COMMIT} -t operator -f operator/Dockerfile .

  build_interceptor:
    
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Build The Interceptor
        run: |
          COMMIT=$(git rev-parse --short=7 HEAD)
          docker build --build-arg VERSION=${COMMIT} -t interceptor -f interceptor/Dockerfile .
