name: Check links on all markdown documents
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linkinator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - name: Run lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --base-url "$(pwd)"
            --cache --max-cache-age 1d
            --max-concurrency 6
            --max-retries 6
            --retry-wait-time 2
            --timeout 30
            --github-token ${{ secrets.GITHUB_TOKEN }}
            --exclude '^https://github\.com/kedacore/http-add-on/pkgs/container/http-add-on-interceptor$'
            --exclude '^https://github\.com/kedacore/http-add-on/pkgs/container/http-add-on-operator$'
            --exclude '^https://github\.com/kedacore/http-add-on/pkgs/container/http-add-on-scaler$'
            --exclude '^http://opentelemetry-collector\.open-telemetry-system:4318$'
            --exclude '^http://opentelemetry-collector\.open-telemetry-system:4318/$'
            --exclude '^http://opentelemetry-collector\.open-telemetry-system:4318/v1/traces$'
            --exclude '^https://www\.gnu\.org/software/make/$'
            "./**/*.md"
