name: Validate
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  validate:
    name: validate - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    container: ghcr.io/kedacore/keda-tools:1.24.7
    strategy:
      matrix:
        include:
        - runner: ARM64
          name: arm64
        - runner: ubuntu-latest
          name: amd64
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

    - name: Register workspace path
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Check go version
      run: go version

    - name: Set Go paths
      id: go-paths
      run: |
        echo ::set-output name=mod_cache::$(go env GOMODCACHE)
        echo ::set-output name=build_cache::$(go env GOCACHE)

    - name: Go modules cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ${{ steps.go-paths.outputs.mod_cache }}
        key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

    - name: Go build cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ${{ steps.go-paths.outputs.build_cache }}
        key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}

    - name: Go modules sync
      run: go mod tidy -compat=1.24 && go mod vendor

    - name: Codegen
      run: make verify-codegen

    - name: Manifests
      run: make verify-manifests

    - name: Mockgen
      run: make verify-mockgen

    - name: Build
      run: ARCH=${{ matrix.name }} make build

    - name: Test
      run: ARCH=${{ matrix.name }} make test

  statics:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    name: Static Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24.7"
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.0
