name: Validate
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    name: validate - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    container: ghcr.io/kedacore/build-tools:1.19.5
    strategy:
      matrix:
        include:
        - runner: ARM64
          name: arm64
        - runner: ubuntu-latest
          name: amd64
    steps:
    - uses: actions/checkout@v3

    - name: Register workspace path
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Check go version
      run: go version

    - name: Set Go paths
      id: go-paths
      run: |
        echo ::set-output name=mod_cache::$(go env GOMODCACHE)
        echo ::set-output name=build_cache::$(go env GOCACHE)

    - name: Go modules cache
      uses: actions/cache@v3.3.1
      with:
        path: ${{ steps.go-paths.outputs.mod_cache }}
        key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

    - name: Go build cache
      uses: actions/cache@v3.3.1
      with:
        path: ${{ steps.go-paths.outputs.build_cache }}
        key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}

    - name: Download Go Modules
      run: go mod download

    - name: Codegen
      run: make verify-codegen

    - name: Manifests
      run: make verify-manifests

    - name: Mockgen
      run: make verify-mockgen

    - name: Build
      run: ARCH=${{ matrix.name }} make build

    - name: Test
      run: ARCH=${{ matrix.name }} make test

  statics:
    name: Static Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.6.0
        with:
          python-version: 3.x
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - name: Get golangci
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.52.2
      - uses: pre-commit/action@v3.0.0
