name: Run tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run_tests:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x
    - name: Test
      run: go test ./...
